/* cor de fundo { color: #A68A72; }
cor de fundo 2 { color: #73523F; }
fonte { color: #26100B; }
destaque1 { color: #F2F2F2; }
destaque2 { color: #0D0D0D; } */

html{
    background-color: #A68A72;
    color: #26100B;

    font-size: 18px;
    font-family: serif;
}

p {
    text-indent: 1em; /* Indenta os parágrafos em 1em */
}

h1, h2, h3 {
    text-align: center; /* Alinha todos os títulos ao centro */
}

h1 {
    font-size: 1.8rem; 
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem; 
}

.summary {
    text-align: center; /* Alinhamento centralizado para a seção de resumo */
}

.main {
    line-height: 1.5; /* Espaçamento entre as linhas de 1.5 para os parágrafos da seção principal */
}

/* 4. Abreviaturas */
abbr {
    font-variant: small-caps; /* Customiza as abreviaturas para small-caps */
}

/* Definir largura da página em 80%, centralizando-a, com um limite de 1280px */
.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto; /* Centraliza a página */
}

/* Definir altura da seção de introdução */
#zen-intro {
    height: 550px;
}

/* Remover o container #design-archives da página */
#design-archives {
    display: none;
}

/* Inverter as cores do cabeçalho */
#zen-intro header {
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Fonte clara */
}

/* Colocar o título e o subtítulo lado a lado */
#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}

/* Adicionar espaçamento lateral de 1em ao título principal */
#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

/* Remover bullets dos itens de menu no painel lateral */
aside ul {
    list-style-type: none;
}

/* Aumentar o espaçamento entre os itens do menu */
aside ul li {
    margin-bottom: 1em;
    text-align: center;
}

/* Adicionar espaçamento externo no rodapé */
footer {
    margin: 4%;
    padding: 1em;
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto claro */
}

/* Transformar os links do rodapé em caixas com borda sólida */
footer a {
    display: inline-block;
    border: 2px solid #fff;
    padding: 0.5em;
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remover sublinhado */
}
