/* cor de fundo { color: #A68A72; }
cor de fundo 2 { color: #73523F; }
fonte { color: #26100B; }
destaque1 { color: #F2F2F2; }
destaque2 { color: #0D0D0D; } */

html{
    background-color: #A68A72;
    color: #26100B;
}
